<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      {{file-input fileChanged='uploadCSV'}}
      <br/><br/>

      <button class="btn btn-primary" {{action 'showData' on='click'}}>
        Get Statistics
      </button>

      <br/><br/>
      {{#if totalRuns}}
        <button class="btn btn-primary" type="button">
          Total Runs <span class="badge">{{totalRuns}}</span>
        </button>
      {{/if}}
    </div>

    <div class="col-md-10 border-left">
      {{vertical-bar-chart data=countries}}
    </div>
    
  </div>
</div>

{{outlet}}
