<div class="row">
  <div class="col-md-6">
    {{file-input fileChanged='uploadCSV'}}
  </div>

  <div class="col-md-6">
    <button class="btn btn-primary" {{action 'getTotalRuns'}}>GET Total Runs</button>
    {{totalRuns}}
  </div>

  <div class="col-md-6">
    <button class="btn btn-primary" {{action 'getCountryViseRuns'}}>GET Country Vise Runs</button><br/>
    {{#each countries as |country|}}
      {{country.name}} {{country.runs}}<br/>
    {{/each}}
  </div>
</div>

{{outlet}}
