<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      {{file-input fileChanged='uploadCSV'}}
      <br/><br/>

      {{#if fileUploaded}}
      <button class="btn btn-primary" {{action 'showData' on='click'}}>
        Get Statistics
      </button>
      {{/if}}
    </div>

    <div class="col-md-10 border-left">
      <div class="row">

      {{#if countries}}
        <div class="col-md-12">
          <p class="text-center"> Country Wise Runs Scored</p>
          {{vertical-bar-chart data=countries}}
        </div>
      {{/if}}

      {{#if matchResult}}
        <div class="col-md-6">
          <p class="text-center"> Match Result</p>
          {{pie-chart data=matchResult}}
        </div>
      {{/if}}
      {{#if tossResult}}
        <div class="col-md-6">
          <p class="text-center"> Toss Result</p>
          {{pie-chart data=tossResult}}
        </div>
      {{/if}}

      {{#if yearWiseRuns}}
        <div class="col-md-12">
          <p class="text-center"> Year Wise Runs Scored</p>
          {{ember-chart type='Line' data=yearWiseRuns width=1000 height=400}}
        </div>
      {{/if}}
      </div>
    </div>
    
  </div>
</div>

{{outlet}}
